name: pint
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  path_provider: ^2.1.1
  cupertino_icons: ^1.0.6
  flutter_spinkit: ^5.2.1
  flutter_launcher_icons: ^0.14.4
  dev_icons: ^1.0.0
  image_picker: ^1.0.4
  permission_handler: ^12.0.1
  http: ^1.4.0 
  intl: ^0.18.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter_icons:
  android: true
  ios: true

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/json/
